.custom-container {
  margin: 0 auto;
  max-width: 1133px;
}

/* Desktop */
@media (min-width: 800px) {
  #opl-list{
    /*padding-top: 30px;*/
    padding-right: 30px;
    padding-left: 30px;
  }
  #refer-list{
    padding-right: 30px;
    padding-left: 30px;
  }
  .list-wrap{
    margin: 0 auto;
    max-width: 940px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
